body {
    text-align: center;
    font-family: arial;
    background:black;
    color:white;
}


#board {
    display:gird;
    grid-template-columns: 100px 100px 100px;
    gap:5px;
    margin:20px auto;
}


 .cell {
    width:100px;
    height:100px;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    cursor: pointer;
}


.cell:hover {
    background:#333;
}



button {
    padding:10px 20px;
    font-size: 18px;
    margin-top: 20px;
}